.Head {
  width: 50%;
  color: white;
}

.N1 h1 {
  margin-bottom: 0;
}

.M1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.N2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16%;
}
.N2 h4 {
  margin-bottom: 0px;
}
.themes {
  display: flex;
  flex-direction: column;
}

.M1-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;
  width: 35px;
  padding-bottom: 5px;
}

.M1-a h4 {
  padding: 0;
  margin: 0;
}

.H:hover {
  cursor: pointer;
}

.M1-b {
  background: hsl(223, 31%, 20%);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 40px;
  height: 15px;
  padding: 5px;
}

.M1-b .H {
  width: 16px;
  border-radius: 50%;
}

.M1-b .active {
  width: 16px;
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
}

.theme1 {
  color: white;
}

.theme2 {
  color: hsl(60, 10%, 19%);
}

.theme1 .M1-b {
  background: hsl(223, 31%, 20%);
}

.theme2 .M1-b {
  background: hsl(0, 5%, 81%);
}

.theme1 .M1-b .active {
  background-color: hsl(6, 63%, 50%);
}

.theme2 .M1-b .active {
  background-color: hsl(25, 98%, 40%);
}

@media (max-width: 600px) {
  .Head {
    width: 100%;
    margin: 10px;
  }

  .N2 {
    width: 20%;
  }
}

@media (max-width: 390px) {
  .Head {
    width: 130%;
    margin: 10px;
  }

  .N2 {
    width: 25%;
  }
}
