@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

input {
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: right;
  font-family: "League Spartan";
  font-size: 3rem;
  background: hsl(223, 31%, 20%);
  border: none;
  color: #fff;
}

* :focus {
  outline: none;
}
