@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

input {
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: right;
  font-family: "League Spartan";
  font-size: 3rem;
  border: none;
}

* :focus {
  outline: none;
}

.theme1 input {
  background-color: hsl(223, 31%, 20%);
  color: #fff;
}

.theme2 input {
  background: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
}
