@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

.themes1,
.themes2 {
  transition: background-color 0.5s ease-in;
}

.Keys {
  width: 34%;
  margin: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.themes1 {
  background: hsl(223, 31%, 20%);
}

.themes2 {
  background: hsl(0, 5%, 81%);
}

.K-a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.K-a button {
  font-size: 2.5rem;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px;
  border: none;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}

.themes1 .K-a button {
  color: hsl(221, 14%, 31%);
  box-shadow: 5px 5px 0px 0 hsl(28, 16%, 65%);
  background: hsl(30, 25%, 89%);
}

.themes2 .K-a button {
  color: hsl(60, 10%, 19%);
  box-shadow: 5px 5px 0px 0 hsl(35, 11%, 61%);
  background: hsl(45, 7%, 89%);
}

.K1-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.K1-1 button {
  font-size: 2.5rem;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px;
  border: none;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}

.themes1 .K1-1 button {
  color: hsl(221, 14%, 31%);
  box-shadow: 5px 5px 0px 0 hsl(28, 16%, 65%);
  background: hsl(30, 25%, 89%);
}

.themes2 .K1-1 button {
  color: hsl(60, 10%, 19%);
  box-shadow: 5px 5px 0px 0 hsl(35, 11%, 61%);
  background: hsl(45, 7%, 89%);
}

.K2 {
  display: grid;
}

.K2 button {
  font-size: 2.5rem;
  padding: 15px 0px;
  border-radius: 10px;
  margin: 20px;
  border: none;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}

.themes1 .K2 button {
  color: white;
  box-shadow: 5px 5px 0px 0 hsl(224, 28%, 35%);
  background: hsl(225, 21%, 49%);
}

.themes2 .K2 button {
  color: hsl(60, 10%, 19%);
  box-shadow: 5px 5px 0px 0 hsl(185, 58%, 25%);
  background: hsl(185, 42%, 37%);
}

.K3 {
  width: 150%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.K3 button {
  font-size: 2.5rem;
  padding: 15px 0px;
  border-radius: 10px;
  margin: 20px;
  border: none;
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
}

.themes1 .K3 button {
  color: hsl(60, 10%, 19%);
  box-shadow: 5px 5px 0px 0 hsl(6, 70%, 34%);
  background: hsl(6, 63%, 50%);
}

.themes2 .K3 button {
  color: hsl(60, 57%, 66%);
  box-shadow: 5px 5px 0px 0 hsl(25, 99%, 27%);
  background: hsl(25, 98%, 40%);
}

@media (max-width: 600px) {
  .Keys {
    width: 65%;
    grid-template-columns: 1fr 1fr;
  }

  .K-a button,
  .K1-1 button {
    padding: 10px 15px;
  }

  .K2 button {
    padding: 10px 0px;
  }
  .K3 {
    width: 135%;
  }
}
