.Keys {
  background: hsl(223, 31%, 20%);
  width: 34%;
  margin: 20px;
  border-radius: 10px;
}

.K1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.K2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  color: white;
}

.K2 .Equal {
  cursor: pointer;
  padding: 20px 100px;
  border-radius: 10px;
  font-size: 2.5rem;
  text-align: center;
  background: hsl(6, 63%, 50%);
  box-shadow: 5px 5px 0px hsl(6, 70%, 34%);
}

.K1 h1 {
  font-size: 2.5rem;
  padding: 15px 20px;
  border-radius: 10px;
  color: hsl(221, 14%, 31%);
  margin: 20px;
  box-shadow: 5px 5px 0px 0 hsl(28, 16%, 65%);
  background: hsl(30, 25%, 89%);
  cursor: pointer;
}

.K2 .Reset {
  cursor: pointer;
  padding: 20px 70px;
  font-size: 2.5rem;
  text-align: center;
  background: hsl(225, 21%, 49%);
  border-radius: 10px;
  box-shadow: 5px 5px 0px hsl(224, 28%, 35%);
}
